@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: #fffdfa;
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  --font-regular: 400;
  --font-bold: 700;
  --font-bolder: 800;
  --Mobile: 375px;
  --Desktop: 1440px; }

html {
  font-size: 15px; }

body {
  background-color: var(--Off-white);
  font-family: "Inter", sans-serif; }

header {
  width: 100%;
  height: 120px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  padding: 0 100px;
  margin: auto;
  font-size: 0.8rem; }
  @media only screen and (max-width: 600px) {
    header {
      font-size: 1.3rem; } }

.hamburger {
  display: none; }

.nav-bar ul {
  display: flex; }

.nav-bar ul li a {
  display: block;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
  padding: 10px 0px 10px 20px;
  color: var(--Dark-grayish-blue); }

.nav-bar ul li a:hover {
  color: var(--Soft-red); }

@media only screen and (max-width: 600px) {
  header {
    padding: 0 20px;
    position: relative; }
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 99999; }
  .nav-bar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 0;
    height: 100vh;
    right: 0;
    overflow: hidden;
    transition: 0.5s;
    z-index: 9999; }
    .nav-bar.active {
      width: 70vw;
      height: 100vh; }
      .nav-bar.active ul {
        opacity: 1; }
    .nav-bar .bg-nav {
      background-color: rgba(0, 0, 0, 0.372);
      position: fixed;
      top: -100%;
      left: 0;
      width: 30vw;
      height: 100vh;
      transition: 0.5s; }
      .nav-bar .bg-nav.active2 {
        top: 0; }
  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 180px 10px;
    transition: 0.5s;
    opacity: 0; }
  .nav-bar ul li a {
    margin-bottom: 5px; } }

.container {
  max-width: 1440px;
  padding: 0 100px;
  margin: auto; }
  @media only screen and (max-width: 600px) {
    .container {
      padding: 0 20px; } }

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(1fr, 200px));
  grid-gap: 1.5rem;
  margin-top: 3rem; }
  @media only screen and (max-width: 600px) {
    .main {
      display: block; } }
  .main-img {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 100%; }
    @media only screen and (max-width: 600px) {
      .main-img {
        padding: 1.5rem 0; } }
    .main-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }
  .main-title {
    grid-column: 1 / 2;
    grid-row: 2/3; }
    @media only screen and (max-width: 600px) {
      .main-title {
        padding: 1.5rem 0; } }
  .main-sub {
    grid-column: 2/ 3;
    grid-row: 2/3;
    font-size: 1rem;
    color: var(--Dark-grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (max-width: 600px) {
      .main-sub {
        padding: 1.5rem 0;
        font-size: 1.5rem;
        line-height: 1.5; } }
  .main-side {
    grid-column: 3/-1;
    grid-row: 1/3;
    background-color: black;
    color: white;
    padding: 2.5rem 1.5rem; }
    .main-side h2 {
      font-size: 3rem;
      color: var(--Soft-orange); }
    .main-side h3 {
      font-size: 1.25rem;
      margin-top: 2rem;
      margin-bottom: 1rem; }
    .main-side p {
      color: var(--Dark-grayish-blue); }
    .main-side hr {
      margin-top: 2rem;
      border: 0.9px solid var(--Dark-grayish-blue); }
  .main-btn {
    background-color: var(--Soft-red);
    padding: 0.8rem 3rem;
    border: 0;
    color: white;
    align-self: flex-start;
    justify-content: flex-start;
    display: flex; }
    @media only screen and (max-width: 600px) {
      .main-btn {
        margin-top: 2.5rem; } }
  .main h1 {
    font-size: 3.5rem;
    font-weight: var(--font-bolder);
    line-height: 1; }
    @media only screen and (max-width: 600px) {
      .main h1 {
        font-size: 4.5rem; } }

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  margin-top: 1.5rem; }
  @media only screen and (max-width: 600px) {
    .about {
      display: block; } }

.box {
  display: flex;
  gap: 1.5rem; }
  @media only screen and (max-width: 600px) {
    .box {
      margin: 1.5rem 0; } }
  .box-img img {
    height: 120px;
    display: block; }
  .box-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .box-text h4 {
      font-size: 2rem;
      color: var(--Grayish-blue); }
    .box-text h5 {
      font-size: 1rem; }
    .box-text p {
      color: var(--Dark-grayish-blue); }
